.btnHolder{
    background-color: #b26c39;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: bottom;
    font-size: calc(40px + 2vmin);
    color: white;
    padding: .8em 0 .7em;
    font-family: AristellSans-Regular;
}

.btn{
    font-family: AristellSans-Regular;
    font-size: calc(35px + 2vmin);
    max-width: 90%;
    background-color: #588157;
    border: none;
}

.btn:hover{
    background-color: #3c5a3b;
    cursor: pointer;
}