.body_div{
    background-color: #b26c39;
    /* min-height: 5vh; */
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: bottom;
    font-size: calc(40px + 2vmin);
    color: white;
    padding: .8em 0 .7em;
    font-family: AristellSans-Regular;
}